
* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  line-height: 1.6;
}

.wrapper {
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
  margin-top: 3em;
}

#nickname {
  color: #aaa;
  font-weight: 700;
}

#things {
  margin-top: 1em;
  font-size: 1.3em;
  line-height: 1.6em;
}

#places {
  margin-top: 2em;
}

ul.unstructured {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.unstructured li {
  display: inline;
}
